<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">

        <style>@import url('https://fonts.googleapis.com/css?family=Montserrat:700');@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
        .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview {
          display: flex !important;
          flex-direction: column !important;
          justify-content: center !important;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 30px;
          padding: clamp(17px, 5%, 40px) clamp(17px, 7%, 50px) !important;
          max-width: 750px !important;
          border-radius: 6px !important;
          box-shadow: 0 5px 25px rgba(34, 60, 47, 0.25) !important;
        }
        .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview,
        .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview *{
          box-sizing: border-box !important;
        }
        .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-heading {
          width: 100% !important;
        }
        .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-heading h5{
          margin-top: 0 !important;
          margin-bottom: 10px !important;
        }
        .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field {
          margin-top: 0px !important;
          width: 100% !important;
        }
        .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input {
          width: 100% !important;
          height: 40px !important;
          border-radius: 6px !important;
          border: 2px solid #e9e8e8 !important;
          background-color: #fff !important;
          outline: none !important;
        }
        .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input {
          color: #000000 !important;
          font-family: "Montserrat" !important;
          font-size: 14px !important;
          font-weight: 400 !important;
          line-height: 20px !important;
          text-align: center !important;
        }
        .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input::placeholder {
          color: #000000 !important;
          opacity: 1 !important;
        }

        .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input:-ms-input-placeholder {
          color: #000000 !important;
        }

        .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input::-ms-input-placeholder {
          color: #000000 !important;
        }
        .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button {
          margin-top: 10px !important;
          width: 100% !important;
        }
        .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button button {
          width: 100% !important;
          height: 40px !important;
          border: 0 !important;
          border-radius: 6px !important;
          line-height: 0px !important;
        }
        .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button button:hover {
          cursor: pointer !important;
        }
        .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .powered-by-line {
          color: #231f20 !important;
          font-family: "Montserrat" !important;
          font-size: 13px !important;
          font-weight: 400 !important;
          line-height: 25px !important;
          text-align: center !important;
          text-decoration: none !important;
          display: flex !important;
          width: 100% !important;
          justify-content: center !important;
          align-items: center !important;
          margin-top: 10px !important;
        }
        .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .powered-by-line img {
          margin-left: 10px !important;
          height: 1.13em !important;
          max-height: 1.13em !important;
        }
        </style><div class="followit--follow-form-container" attr-a attr-b attr-c attr-d attr-e attr-f><form data-v-2bdb5506="" action="https://api.follow.it/subscription-form/RVlwTXIvSEJyRmhsNTArUUQ1TnQyazZhKzJPS0huSkVoWURoUFZHbVpsUDhhOHlDZWIvWUxGcnVST3U0SWVpTEdidEY4YVd1a3RpbEowcGw3SHJ5Ymxna1JWWU1RazhUNlpCSFM3K2grMlBZdlkwU01yODZBZ0pIM0s4ME1mTS98ajFWK0ZiNVRpOEJZK0RYV1BzOUUvRzNjYmZoU094UmlhYXJxK29MR25jMD0=/8" method="post"><div data-v-2bdb5506="" class="form-preview" style="background-color: rgb(255, 255, 255); position: relative;"><div data-v-2bdb5506="" class="preview-heading"><h5 data-v-2bdb5506="" style="text-transform: none !important; font-family: Montserrat; font-weight: bold; color: rgb(0, 0, 0); font-size: 16px; text-align: center;">
        Get new posts by email:
      </h5></div> <div data-v-2bdb5506="" class="preview-input-field"><input data-v-2bdb5506="" type="email" name="email" required="required" placeholder="Enter your email" spellcheck="false" style="text-transform: none !important; font-family: Montserrat; font-weight: normal; color: rgb(0, 0, 0); font-size: 14px; text-align: center; background-color: rgb(255, 255, 255);"></div> <div data-v-2bdb5506="" class="preview-submit-button"><button data-v-2bdb5506="" type="submit" style="text-transform: none !important; font-family: Montserrat; font-weight: bold; color: rgb(255, 255, 255); font-size: 16px; text-align: center; background-color: rgb(0, 0, 0);">
        Subscribe
      </button>
      </div></div></form></div>

<!--        <p>{{- site.description | escape -}}</p>-->
      </div>
    </div>

  </div>

</footer>
