{% include stats_element.html name="Km hiked" quantity="439.5" %}
{% include stats_element.html name="of Te Araroa" quantity="14.9%" %}
{% include stats_element.html name="Longest day" quantity="32 km" %}
{% include stats_element.html name="Max elevation gain" quantity="1202 m" %}
{% include stats_element.html name="Days on trail" quantity="31" %}
{% include stats_element.html name="Tent Nights" quantity="20" %}
{% include stats_element.html name="Rest days" quantity="8" %}
{% include stats_element.html name="Hot showers" quantity="21" %}
{% include stats_element.html name="Days with wet feet" quantity="15" %}
{% include stats_element.html name="Peanut Butter/Nutella" quantity="1320 gr" %}
{% include stats_element.html name="Chocolate" quantity="1100 gr" %}
{% include stats_element.html name="Gas" quantity="330 gr" %}