<table class="table_fixed">
  <colgroup>
    <col class="fixed" />
  </colgroup>
  <tr class="h1">
    <td>26</td>
  </tr>
  <tr>
    <td class="last-row">Days on trail</td>
  </tr>
</table>

<table class="table_fixed">
  <colgroup>
    <col class="fixed" />
  </colgroup>
  <tr class="h1">
    <td>17</td>
  </tr>
  <tr>
    <td class="last-row">Tent Nights</td>
  </tr>
</table>

<table class="table_fixed">
  <colgroup>
    <col class="fixed" />
  </colgroup>
  <tr class="h1">
    <td>17</td>
  </tr>
  <tr>
    <td class="last-row">Hot showers</td>
  </tr>
</table>

<table class="table_fixed">
  <colgroup>
    <col class="fixed" />
  </colgroup>
  <tr class="h1">
    <td>12</td>
  </tr>
  <tr>
    <td class="last-row">Days with wet feet</td>
  </tr>
</table>

<table class="table_fixed">
  <colgroup>
    <col class="fixed" />
  </colgroup>
  <tr class="h1">
    <td>32 km</td>
  </tr>
  <tr>
    <td class="last-row">Longest Day</td>
  </tr>
</table>

<table class="table_fixed">
  <colgroup>
    <col class="fixed" />
  </colgroup>
  <tr class="h1">
    <td>1115 m</td>
  </tr>
  <tr>
    <td class="last-row">Max elevation gain</td>
  </tr>
</table>

<table class="table_fixed">
  <colgroup>
    <col class="fixed" />
  </colgroup>
  <tr class="h1">
    <td>700 gr</td>
  </tr>
  <tr>
    <td class="last-row">Peanut Butter</td>
  </tr>
</table>

<table class="table_fixed">
  <colgroup>
    <col class="fixed" />
  </colgroup>
  <tr class="h1">
    <td>220 gr</td>
  </tr>
  <tr>
    <td class="last-row">Gas</td>
  </tr>
</table>
