{% include stats_element.html name="Days on trail" quantity="114" %}
{% include stats_element.html name="of Te Araroa" quantity="75.3%" %}
{% include stats_element.html name="Km hiked/paddled" quantity="1745.1" %}
{% include stats_element.html name="Total elevation gain" quantity="46917 m" %}
{% include stats_element.html name="Longest day" quantity="33 km" %}
{% include stats_element.html name="Max elevation gain" quantity="1672 m" %}
{% include stats_element.html name="Tent Nights" quantity="55" %}
{% include stats_element.html name="Hut nights" quantity="20" %}
{% include stats_element.html name="Rest days" quantity="35" %}
{% include stats_element.html name="Hot showers" quantity="66" %}
{% include stats_element.html name="Rainy days" quantity="46" %}
{% include stats_element.html name="Days with wet feet" quantity="53" %}
{% include stats_element.html name="Pairs of shoes" quantity="8" %}
{% include stats_element.html name="Hitchhikes" quantity="57" %}
<!--{% include stats_element.html name="Peanut Butter/Nutella" quantity="7035 gr" %}
{% include stats_element.html name="Chocolate" quantity="3950 gr" %}
{% include stats_element.html name="Gas" quantity="1340 gr" %}-->
