{% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts limit:3 -%}
        {% if post.tags contains "teararoa" and post.visible == 1 %}
          <li>
            <article class="blog-article">
              <a href="{{ post.url | relative_url }}"><img src="{{ post.thumbnail }}" alt="" class="blog-roll-image"/></a>
              <div class="blog-roll-content">
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <h3>
                  <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                  </a>
                </h3>
              </div>
            </article>
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
{% endif %}
