<style>
table {
  width: 100%;
  table-layout: fixed;
    /*border: none;*/
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}
.twenty {
  width: 20%;
  background: white;
  border: none;
        padding: 0;
   margin: 0;

}
.h1 {
    font-size:3vw;
    border: none;
}
.last-row {
    font-size: 1vw;
    padding: 0px 0px 10px !important;
}
td {
    border: none !important;
    background: white;
    text-align: center;
    padding: 0px !important;
}
</style>

<table>
  <colgroup>
    <col class="twenty" />
    <col class="twenty" />
    <col class="twenty" />
    <col class="twenty" />
    <col class="twenty" />
  </colgroup>
  <tr class="h1">
    <td>15.5 km</td>
    <td>1960 m</td>
    <td>5h 29m</td>
    <td>9h 10m</td>
    <td>2300</td>
  </tr>
  <tr>
    <td class="last-row">Distance</td>
    <td class="last-row">Height Gain</td>
    <td class="last-row">Elapsed Time</td>
    <td class="last-row">Moving Time</td>
    <td class="last-row">Calories</td>
  </tr>
</table>

  <table>
  <colgroup>
    <col class="twenty" />
  </colgroup>
  <tr class="h1">
    <td>15.5 km</td>
  </tr>
  <tr>
    <td class="last-row">distance</td>
  </tr>
</table>

<table>
  <colgroup>
    <col class="twenty" />
  </colgroup>
  <tr class="h1">
    <td>15.5 km</td>
  </tr>
  <tr>
    <td class="last-row">distance</td>
  </tr>
</table>