<style>
table {
  width: 100%;
  table-layout: fixed;
    /*border: none;*/
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}
.twenty {
  width: 20%;
  background: white;
  border: none;
        padding: 0;
   margin: 0;

}
.h1 {
    font-size: 40px;
    border: none;
}
.last-row {
    padding-top: 0px !important;
    padding-bottom: 10px !important;
}
td {
    border: none !important;
    background: white;
    text-align: center;
    padding: 0px !important;
}
</style>

<table>
  <colgroup>
    <col class="twenty" />
    <col class="twenty" />
    <col class="twenty" />
    <col class="twenty" />
    <col class="twenty" />
  </colgroup>
  <tr class="h1">
    <td>15.5km</td>
    <td>960m</td>
    <td>5:29:10</td>
    <td>9:10:03</td>
    <td>2300</td>
  </tr>
  <tr>
    <td class="last-row">Distance</td>
    <td class="last-row">Height Gain</td>
    <td class="last-row">Elapsed Time</td>
    <td class="last-row">Moving Time</td>
    <td class="last-row">Calories</td>
  </tr>
</table>