// STRAVA //

.blog-roll-image {
  width: 17.5% !important;
  height: 100% !important;
  float: left;
  display: block;
  padding-bottom: 2%;
  padding-right: 2%;
}
.blog-roll-content {
  width: 68% !important;
  float: left;
  display: block;
  padding-bottom: 2%;
  font-size: 1vw;
}
.blog-article {
  width: 100%;
  height: 100px !important;
}
@media only screen and (max-width: 700px) {
  .blog-roll-image {
    width: 100% !important;
    height: 220px !important;
  }

  .blog-roll-content {
    width: 100% !important;
    height: auto !important;
  }
  .blog-article {
    height: 320px;
    padding-bottom: 40px !important;
  }
}

// SPOTIFY //
