// STRAVA //

.blog-roll-image {
  width: 17.5% !important;
  height: 100% !important;
  float: left;
  display: block;
  margin-bottom: 2%;
  margin-right: 2%;
  border-radius: 8px;
}
.blog-roll-content {
  width: 68% !important;
  float: left;
  display: block;
  margin-bottom: 2%;
  font-size: 1vw;
}
.blog-article {
  width: 100%;
  height: 100px !important;
}
@media only screen and (max-width: 700px) {
  .blog-roll-image {
    width: 80% !important;
    height: 220px !important;
    margin-left: 10%;
    margin-right: auto;
  }

  .blog-roll-content {
    width: 100% !important;
    height: auto !important;
  }
  .blog-article {
    height: 320px;
    margin-bottom: 40px !important;
  }
}
// SPOTIFY //
.podcast-blog-roll-image {
  width: 100px !important;
  height: 100% !important;
  float: left;
  display: block;
  margin-bottom: 2%;
  margin-right: 2%;
  border-radius: 8px;
}
.podcast-blog-roll-content {
  width: 68% !important;
  float: left;
  display: block;
  margin-bottom: 2%;
  font-size: 1vw;
}
.podcast {
  width: 100%;
  height: 100px !important;
}
@media only screen and (max-width: 700px) {
  .podcast-blog-roll-image {
    width: auto !important;
    height: 110px !important;
    margin-bottom: 2px !important;
  }
  .podcast-blog-roll-content {
    width: 64% !important;
    min-height: 110px !important;
    float: left;
    display: block;
    margin-bottom: 2%;
  }
  .post-link {
    font-size: 18px;
  }
  .podcast {
    height: auto !important;
    margin-bottom: 00px !important;
  }
}
