.homepage-article {
  width: 30%;
  border: 0px !important;
  padding-right: 2% !important;
  height: 200px !important;
  float: left;
  position: relative;
  color: white;
}
.homepage-article-image {
  width: 100% !important;
  border-radius: 8px;
}
.homepage-blog-roll-content {
  width: 30%;
  position: absolute;
  display: block;
  font-size: 1vw;
}
.homepage-post-link {
  font-size: 1.5vw;
}

