---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <iframe style="border-radius:12px"
          src="https://open.spotify.com/embed/show/1dXhQ0ucwq7zykrM9r5Fbb?utm_source=generator&theme=1"
          width="100%"
          height="252" frameBorder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy">

  </iframe>

  <br />
  <br />

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
        {% if post.tags contains "podcast" and post.visible == 1 %}
          <li>
            <article class="podcast">
              <a href="{{ post.url | relative_url }}"><img src="{{ post.thumbnail }}" alt="" class="podcast-blog-roll-image"/></a>
              <div class="podcast-blog-roll-content">
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <h3>
                  <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                  </a>
                </h3>
              </div>
            </article>
          </li>
<!--        <li>-->
<!--          <span class="post-meta">{{ post.date | date: date_format }}</span>-->
<!--          <h3>-->
<!--            <a class="post-link" href="{{ post.url | relative_url }}">-->
<!--              {{ post.title | escape }}-->
<!--            </a>-->
<!--          </h3>-->
<!--          {%- if site.show_excerpts -%}-->
<!--            {{ post.excerpt }}-->
<!--          {%- endif -%}-->
<!--        </li>-->
        {%- endif -%}
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>

