---
layout: post
---

<!--<meta name="JSONData" content="{{ site.url }}{{ site.baseurl }}/{{ page.gps_data }}" />-->
<!--<meta name="baseURL" content="{{ site.url }}{{ site.baseurl }}/" />-->
<!--<meta name="stravaID" content={{ page.strava_id }} />-->

<!-- Add a svg shape. Note that the 'target' class is attributed to the circle -->

<!-- <div id="mapid"></div>-->
<!---->
<!--<script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/assets/js/map.js" ></script>-->

<html>
<head>
<style>
#map_size {height: 500px;}
</style>
</head>

<body>

{{ content }}

<iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/7704931022/embed/92dd47f245c01e2d2a690b862422c5da3316b7dc'></iframe>
</body>

</html>